<div class="row">
<section class="main col-md-9">
<article>
<h2>About</h2>
<p>I am Dev Soni, a student at Seneca College and am pursuing a Diploma in Computer Programming. I am more inclined towards Computer Programming and Software Engineering.</p>

</article>
</section>
<aside class="col-md-3">
<h2>Coming Soon</h2>
<p>More Stuffs about to come..</p>
</aside>
</div>